@import "fonts"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

input, select
	appearance: none!important

*::-webkit-input-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1

*::-moz-placeholder
	color: #fff
	opacity: 1
.mobile-left-input::-webkit-input-placeholder
	color: #75767a
	opacity: 1
.mobile-left-input::-moz-placeholder
	color: #75767a
	opacity: 1
.mobile-left-input::-moz-placeholder
	color: #75767a
	opacity: 1
input:focus::-webkit-input-placeholder
	color: transparent
input:focus::-moz-placeholder
	color: transparent
input:focus::-ms-input-placeholder
	color: transparent
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

a
	outline: none
.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.text-line
	text-decoration: line-through
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

body
	font-size: 17px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: "Lato", sans-serif
	overflow-x: hidden
	background: #0f1117

ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0
.container
	max-width: 1620px
	width: 100%
	padding: 0 10px
	margin: 0 auto

.header
	background: #0f1117
	padding: 18px 0
	&-flex
		display: flex
		align-items: center
		justify-content: space-between
		color: $white
	&-left
		padding-left: 87px
		background: url(../img/clock.svg) no-repeat left 60px center
		background-size: 14px 14px
		color: $white
		text-transform: uppercase
		font-size: 13px
	&-right
		display: flex
		justify-content: flex-end
		align-items: center
		&-loc
			font-size: 13px
			padding-left: 30px
			background: url(../img/pin.svg) no-repeat left 5px center
			background-size: 14px 14px
	&-lang
		font-family: $bebas-neueregular
		margin: 0 60px
		&-link
			color: #ffffff
			text-decoration: none
			transition: color .5s ease
			margin-left: 15px
			text-align: center
			&.active, &:hover
				color: $accent
	&-phone
		&-number
			color: $white
			text-decoration: none
			padding-left: 30px
			background: url(../img/phone.svg) no-repeat left 5px center
			background-size: 15px 15px
			margin-left: 35px
			transition: color .5s ease
			text-transform: uppercase
			font-size: 13px
			&:hover
				color: #ffffff
.cart
	fill: #57585c
.slide
	background: url(../img/main-bg.png) no-repeat top center
	background-size: cover
	&-menu
		display: flex
		//justify-content: space-between
.menu
	position: relative
	&-item
		border: 1px solid rgba(6, 189, 214, 0.1)
		border-right: none
		display: flex
		justify-content: center
		align-items: center
		flex-shrink: 0
		&_search
			flex-grow: 1
			display: flex
			justify-content: flex-start
			position: relative
			&:hover
				background: transparent
		&-form
			position: absolute
			left: 20px
			max-width: 400px
			width: 0
			top: 27px
			background: #13151c
			z-index: 1
			overflow: hidden
			transition: width .5s ease
			&.active
				width: 100%
		&-input
			height: 50px
			background: #212327
			border-radius: 5px
			border: none
			outline: none
			width: 100%
			padding-left: 40px
			color: #ffffff
		&-all
			margin: 10px
			display: none
			&_mobile
				margin: 10px 0
		&-item
			border-radius: 5px
			background: #23252d url(../img/search-item.png) no-repeat left 20px center
			padding: 25px 25px 25px 100px
			margin-bottom: 10px
		&-name
			color: #ffffff
			font-size: 18px
			font-family: $bebas-neuebold
		&-price
			color: $accent
			font-family: $bebas-neuebold
			display: flex
			align-items: flex-start
			margin-top: 10px
			font-size: 16px
		&-currency
			font-size: 12px
			margin-top: 1px
			margin-left: 2px
		//&:hover
		//	.menu-item-link:not(.menu-item-link_end)
		//		color: #ffffff
		//		background: #1c1e25
		&-logo
			width: 85px
		&-link
			padding: 45px 30px
			cursor: pointer
			color: $accent
			text-transform: uppercase
			font-family: $bebas-neueregular
			text-decoration: none
			transition: color .5s ease
			height: 100%
			letter-spacing: 1.5px
			display: flex
			align-items: center
			&_white
				color: #ffffff
			&_search
				position: relative
				z-index: 3
				&:hover
					background: #212327
				&.active
					&:hover
						background: transparent
			&:focus
				background: transparent
			&_first
				padding: 0 50px
				display: flex
				align-items: center
				height: 100%
			&_cart
				padding: 45px
			&_end
				&:hover
					color: #ffffff
					background: #1c1e25
			&:hover
				.fill-hover
					fill: #ffffff
		&_custom
			flex-grow: 1
			justify-content: flex-end
		&_noborder
			border-left: none
		&-search
			width: 15px
			height: 15px
			position: relative
			z-index: 2
		&-cart
			width: 18px
			height: 18px
	&-hide
		position: absolute
		display: none
		top: 108px
		left: 0px
		width: 763px
		background: #1c1e25
		font-family: $bebas-neueregular
		z-index: 2
		&-flex
			display: flex
			justify-content: flex-start
	&-left
		flex-shrink: 0
		&-list
			min-width: 212px
			position: relative
		&-item
			&:hover
				.menu-right-list
					display: block
			&:hover
				.menu-left-link
					background: #282930
					color: #ffffff
					text-decoration: underline
		&-link
			display: block
			padding: 10px 10px 10px 30px
			color: $white
			text-decoration: none
	&-right
		width: 100%
		position: relative
		overflow: hidden
		&-img
			position: absolute
			left: 0
			top: 0
			font-size: 0
			opacity: 0
			display: flex
			align-items: flex-end
			justify-content: flex-end
			width: 100%
			height: 100%
			&.active
				opacity: 1
		&-list
			position: absolute
			left: 185px
			top: 0
			padding: 10px 40px
			display: none
			z-index: 1
		&-link
			color: $white
			text-decoration: none
			padding: 15px 0
			display: block
			&:hover
				color: #ffffff
				text-decoration: underline

.menu-item-all_mobile .menu-item-item
	padding-left: 100px
.menu-item:not(.menu-item_search):hover .menu-item-link:not(.menu-item-link_end)
	background-color: #212327
	color: #ffffff
.fill-hover
	transition: fill .5s ease
.menu-right-img
	&_mouse
		background: url(../img/mouse.jpg) no-repeat bottom right
		background-size: cover
	&_keyboard
		background: url(../img/keyboard.png) no-repeat center right
		background-size: content
	&_head
		background: url(../img/head.png) no-repeat center right 100px
		background-size: 200px
.hide-hover
	position: relative
	&:hover
		.menu-hide
			display: block
.slider
	position: relative
	background: #080a0f
	&-line
		height: 1px
		width: 100%
		background-color: #fff
		position: relative
		&:after
			content: ''
			left: 0
			top: 0
			width: 50%
			height: 100%
			background: red
			display: block
	&-item
		position: relative
		&:after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			content: ''
			background: url(../img/mask.png) no-repeat right center
			background-size: cover
	&-info
		position: absolute
		top: 130px
		left: 185px
		z-index: 1
		width: 430px
	&-title
		font-size: 68px
		line-height: 60px
		color: #fff
		font-family: $bebas-neuebold
		letter-spacing: 7.5px
	&-description
		font-size: 18px
		color: $white
		margin-top: 20px
	&-more
		font-size: 22px
		color: #ffffff
		background: #7e14d6
		width: 50px
		height: 50px
		border-radius: 50%
		display: block
		text-align: center
		line-height: 50px
		cursor: pointer
		margin-top: 40px
		transition: all .5s
		text-decoration: none
		font-family: sans-serif
		&:hover
			background: #aa1ed4
.slider-item
	outline: none
	width: 100%
	height: 690px
	&_first
		background: url(../img/slide1.jpg) no-repeat center right
		background-size: cover
	&_second
		background: url(../img/slide2.jpg) no-repeat bottom right
		background-size: cover
.slick-dots
	width: 110px
	left: 4%
	bottom: 50px
.slick-dots li button:before
	color: #6a6b6e
	font-size: 8px
	border: 1px solid transparent
	border-radius: 50%
	transition: all .5s ease
	left: -1px
.slick-dots li.slick-active button:before
	color: #7e14d6
	border: 1px solid #7e14d6
.slick-dots li
	margin: 0 2px
.slick-dotted.slick-slider
	margin-bottom: 0
.slick-list, .slick-slider
	overflow: hidden
.categories
	background: #0f1117
	&-row
		display: flex
		justify-content: space-between
		padding: 20px
	&-item
		width: 505px
		width: calc(33% - 5px)
		&_first
			background: #7e14d6
		&_second
			background: #1197e4
		&_third
			background: #06a8dd
	&-slider
		&-item
			outline: none
			width: 100%
			text-align: center
			//padding-top: 60px
			position: relative
		&-img
			max-width: 100%
			height: auto
			margin: 0 auto
		&-hover
			width: 100%
			height: 100%
			position: absolute
			top: 60px
			left: 0
			z-index: 3
			&:hover
				.categories-slider-add
					opacity: 1
					bottom: 140px
		&-type
			color: $white
			background: url(../img/arrow-more.svg) no-repeat right 5px center
			background-size: 6px 8px
			padding-right: 20px
			text-decoration: none
			font-family: $bebas-neueregular
			font-size: 16px
			transition: background-position .5s ease
			&:hover
				background-position: right 0px center
		&-name
			color: #ffffff
			margin-top: 20px
			font-family: $bebas-neuebold
			font-size: 24px
		&-add
			width: 50px
			height: 50px
			border-radius: 50%
			color: #fff
			background: #11bae4
			font-size: 20px
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			left: calc(50% - 25px)
			bottom: -20px
			cursor: pointer
			transition: all .5s ease
			opacity: 0
			z-index: 2
			text-decoration: none
			&:hover
				background: #1197e4

.categories-slider .slick-prev, .categories-slider .slick-next
	width: 60px
	height: 110px
	z-index: 1
.categories-slider .slick-prev
	border: 1px solid rgba(255, 255, 255, 0.2)
	border-left: none
	left: -60px
	transition: all .5s ease
	&:before
		transform: scale(-1)
		background: url(../img/arrow-next.svg) no-repeat center
		background-size: 13px 15px
	&:hover
		background: rgba(255, 255, 255, 0.2)
.categories-slider .slick-next
	border: 1px solid rgba(255, 255, 255, 0.2)
	border-right: none
	right: -60px
	transition: all .5s ease
	&:before
		background: url(../img/arrow-next.svg) no-repeat center
		background-size: 13px 15px
	&:hover
		background: rgba(255, 255, 255, 0.2)
.categories-slider .slick-prev:before, .categories-slider .slick-next:before
	content: ''
	height: 100%
	width: 100%
	display: block
.categories-item:hover
	.categories-slider .slick-next
		right: 0
	.categories-slider .slick-prev
		left: 0
.sale
	background: #13151c url(../img/sale-bg.png) no-repeat left 5% bottom -100px
	background-size: contain
	padding-bottom: 50px
	&-flex
		display: flex
		justify-content: flex-end
	&-info
		font-family: $bebas-neueregular
		text-align: right
		margin-right: 180px
		width: 350px
		display: flex
		flex-direction: column
		align-items: flex-end
		&-stick
			color: #ffffff
			background: #d82a36
			display: inline-block
			padding: 16px 20px
			letter-spacing: 1.5px
			font-size: 16px
		&-title
			font-size: 68px
			line-height: 60px
			color: #ffffff
			margin-top: 90px
			letter-spacing: 7px
			margin-right: -8px
			width: 100%
			font-family: $bebas-neuebold
		&-description
			font-size: 14px
			color: $white
			margin-top: 20px
			font-family: "lato", sa
			width: 100%
		&-price
			color: #06c8f4
			display: flex
			align-items: flex-start
			margin-top: 20px
			font-family: $bebas-neueregular
			&_nomarg
				margin-top: 0
		&-number
			font-size: 35px
			letter-spacing: 4px
		&-currency
			font-size: 18px
			margin-top: 3px
.news
	&-row
		display: flex
		justify-content: space-between
		padding: 20px 20px 0 20px
	&-item
		width: calc(25% - 15px)
		padding: 0px 10px 20px
		background: #13151c radial-gradient(#474950, rgba(71, 73, 80, 0))
		transition: all .5s ease
		position: relative
		&:hover
			background: #7e14d6
			.news-item-add
				opacity: 1
				bottom: 60px
		&_hide
			&:after
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: rgba(0, 0, 0, 0.5)
			&:hover
				background: #13151c radial-gradient(#474950, rgba(71, 73, 80, 0))
				.news-item-add
					opacity: 0
		&-img
			max-width: 100%
			height: auto
			display: block
			margin: 0 auto
			max-height: 340px
		&-info
			text-align: center
			color: #ffffff
			margin-bottom: 40px
			font-family: $bebas-neueregular
			//position: absolute
			left: 0
			top: 0
			width: 100%
		&-stick
			font-size: 16px
			background: #8b9f03
			display: inline-block
			padding: 10px 25px
		&-name
			font-size: 24px
			margin-top: 20px
			letter-spacing: 2.5px
			font-family: $bebas-neuebold
			&_big
				margin-top: 40px
		&-number
			letter-spacing: 1.5px
		&-price
			color: #06c8f4
			margin-top: 15px
			font-size: 20px
			display: flex
			align-items: center
			justify-content: center
			&-flex
				display: flex
				align-items: flex-start
				justify-content: center
			&_red
				color: #f15e1d
			&_white
				color: #fff
		&-currency
			font-size: 12px
			margin-top: 3px
		&-description
			padding-left: 10px
			letter-spacing: 1.5px
			font-size: 14px
		&-add
			height: 50px
			min-width: 50px
			border-radius: 25px
			box-shadow: 0 10px 40px rgba(17, 17, 17, 0.4)
			position: absolute
			left: 50%
			transform: translateX(-50%)
			bottom: 0px
			background: #11bae4 url(../img/cart-check.svg) no-repeat left 17px center
			background-size: 15px 18px
			cursor: pointer
			display: flex
			align-items: center
			justify-content: flex-end
			transition: all .5s ease
			opacity: 0
			&:hover
				.news-item-text
					width: 70px
		&-text
			width: 0
			overflow: hidden
			margin-left: 50px
			white-space: nowrap
			transition: width .5s ease
			color: #fff
			font-family: $bebas-neuebold
			font-size: 16px
			line-height: 16px
	&-btn
		font-family: bebas-neueregular
		font-size: 16px
		color: $white
		background-color: #13151c
		padding: 10px
		border: none
		outline: none
		width: 100%
		height: 100px
		cursor: pointer
		margin: 20px 0
		transition: color .5s ease
		letter-spacing: 1.5px
		&:hover
			color: #ffffff
.catalog-item:hover
	background: #7e14d6
.catalog-item:hover .news-item-add
	opacity: 1
	bottom: 60px
.contact
	background: #13151c
	padding: 50px 60px
	&-flex
		display: flex
		justify-content: space-between
	&-item
		width: 25%
		&-link
			color: #11bae4
			font-family: bebas-neueregular
			text-decoration: none
			transition: color .5s ease
			letter-spacing: 1.5px
			&:hover
				color: #fff
		&-right
			max-width: 360px
			width: 100%
		&_flex
			display: flex
			justify-content: flex-end
		&-flex
			display: flex
			flex-direction: column
			align-items: flex-start
	&-title
		font-family: bebas-neuebold
		font-size: 20px
		margin-bottom: 20px
		color: #ffffff
		letter-spacing: 2px
	&-text
		font-size: 16px
		display: inline-block
		color: #fff
		text-decoration: none
		padding: 10px 0 10px 40px
		transition: all .5s ease
		&_loc
			background: url(../img/pin.svg) no-repeat left center
			background-size: 15px 18px
		&_phone
			background: url(../img/phone.svg) no-repeat left center
			background-size: 18px 18px
			&:hover
				color: #11bae4
		&_mail
			background: url(../img/mail.svg) no-repeat left center
			background-size: 20px 15px
			&:hover
				color: #11bae4
				text-decoration: underline
	&-list
		&-item
			padding: 5px 0
	&-form
		background: rgba(57, 54, 53, 0.3)
		padding: 15px 0 15px 15px
		display: flex
		justify-content: space-between
		margin-top: 30px
		&-input
			background: transparent
			color: #ffffff
			border: none
			outline: none
			padding-left: 35px
			background: url(../img/mail.svg) no-repeat left center
			background-size: 20px 15px
			width: 100%
			font-size: 16px
		&-btn
			background: transparent
			color: $accent
			border: none
			outline: none
			font-size: 17px
			font-family: $bebas-neueregular
			padding: 0 20px
			cursor: pointer
			border-left: 1px solid rgba(255, 255, 255, 0.3)
			transition: color .5s ease
			flex-shrink: 0
			&:hover
				color: #ffffff
	&-description
		font-size: 14px
		color: $white
		margin-top: 15px
.footer
	background: #13151c
	border-top: 1px solid #2b2d33
	&-flex
		display: flex
		justify-content: space-between
		align-items: center
	&-social
		&-item
			font-size: 0
		&_fb
			height: 20px
			width: 20px
		&_vk
			height: 20px
			width: 20px
		&_inst
			height: 22px
			width: 22px
		&-link
			display: flex
			height: 95px
			width: 95px
			align-items: center
			justify-content: center
			transition: all .5s ease
			&_fb
				&:hover
					background: #3b5998
			&_vk
				&:hover
					background: #6383a8
			&_inst
				&:hover
					background: #e4405f
			&:hover
				.footer-social-svg path, .footer-social-svg rect
					fill: #fff
		&-list
			display: flex
		&-item
			border-right: 1px solid #2b2d33
			&:last-child
				border-right: none
	&-center
		display: flex
		align-items: center
		&-flex
			display: flex
			align-items: center
			margin-left: 5px
		&-link
			font-size: 0
		&-text
			color: $white
			text-align: center
			font-size: 14px
		&-img
			height: 18px
			margin-top: 2px
			width: 100px
	&-right
		display: flex
		width: 300px
		align-items: center
		justify-content: flex-end
		padding-right: 60px
	&-img
		&_visa
			width: 50px
			height: 20px
		&_paypal
			width: 18px
			height: 20px
			margin-left: 20px
		&_master
			width: 28px
			height: 20px
			margin-left: 20px
.footer-social-svg path, .footer-social-svg rect
	transition: fill .5s ease
.categories .slick-dots li button:before
	opacity: 1
	color: rgba(107, 203, 235, 0.4)
	border: none
.categories .slick-dots li.slick-active button:before
	color: #fff
	border: none
.mobile
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 5
	background: #080a0f
	&-flex
		display: flex
		height: 86px
		border-bottom: 1px solid rgba(6, 189, 214, 0.1)
	&-right
		&-overlay
			background: transparent
			position: fixed
			top: 0
			width: 100%
			height: 100vh
			right: -100%
			//overflow-y: scroll
			transition: right .5s ease
			z-index: 5
			&.active
				right: 0
		&-menu
			width: 90%
			max-width: 460px
			background: #13151c
			position: absolute
			height: 100vh
			top: 0
			right: 0
			padding: 0
			transition: left .5s ease
			//overflow-y: auto
			font-family: $bebas-neueregular
			font-size: 16px
			display: flex
			flex-direction: column
			justify-content: space-between
		&-top
			padding: 40px
			background: #1f2129
			flex-shrink: 0
			position: relative
		&-title
			font-size: 22px
			color: #ffffff
			font-family: $bebas-neuebold
			padding-left: 30px
			background: url(../img/cart.svg) no-repeat left center
			background-size: 18px 18px
		&-flex
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 20px
		&-all
			color: rgba(255, 255, 255, 0.4)
		&-allprice
			color: $accent
			display: flex
			align-items: flex-start
			justify-content: flex-end
			font-family: $bebas-neuebold
		&-allcurrency
			font-size: 10px
			margin-left: 4px
			margin-top: 1px
		&-btn
			width: 100%
			height: 60px
			line-height: 60px
			background: #7e14d6
			color: #ffffff
			font-family: $bebas-neuebold
			font-size: 16px
			border: none
			outline: none
			flex-shrink: 0
			transition: all .5s ease
			cursor: pointer
			text-align: center
			text-decoration: none
			&:hover
				background: #aa1ed4
		&-list
			padding: 20px 20px 0 20px
			overflow: auto
			height: 100%
		&-item
			padding: 50px 20px 50px 135px
			margin-bottom: 20px
			position: relative
			&-flex
				display: flex
				align-items: center
				justify-content: flex-start
			&_keyboard
				background: #1f2129 url(../img/square2.png) no-repeat left 20px center
			&_chair
				background: #1f2129 url(../img/square.png) no-repeat left 20px center
		&-name
			color: #ffffff
			font-family: $bebas-neuebold
			font-size: 18px
			margin-bottom: 10px
		&-price
			color: $accent
			display: flex
			align-items: flex-start
			justify-content: flex-start
			font-family: $bebas-neuebold
			margin-right: 10px
		&-currency
			font-size: 10px
			margin-left: 4px
			margin-top: 1px
		&-quant
			font-size: 11px
			color: rgba(255, 255, 255, 0.3)
			&-number
				font-size: 16px
				font-family: $bebas-neueregular
		&-close
			width: 12px
			height: 12px
			position: absolute
			right: 40px
			top: 40px
			padding: 10px
			cursor: pointer
			&:after
				content: ''
				width: 10px
				height: 2px
				background: #ffffff
				display: block
				transform: rotate(45deg)
				position: absolute
				left: 6px
				top: 9px
			&:before
				content: ''
				width: 10px
				height: 2px
				background: #ffffff
				display: block
				transform: rotate(-45deg)
				position: absolute
				top: 9px
				left: 6px
			&_item
				top: 20px
				right: 20px
				&:after, &:before
					background: rgba(255, 255, 255, 0.3)
			&_search
				background: #909193
				border-radius: 50%
				top: 18px
				right: 20px
				padding: 8px
				cursor: pointer
				&:after
					background: #55575a
					left: 5px
					top: 7px
					width: 7px
				&:before
					background: #55575a
					left: 5px
					top: 7px
					width: 7px
	&-left
		width: 85px
		border-right: 1px solid rgba(6, 189, 214, 0.1)
		flex-shrink: 0
		background: url(../img/menu.svg) no-repeat center
		background-size: 20px 15px
		position: relative
		&-slide
			position: relative
			transition: height .5s ease
			min-height: 470px
		&-overlay
			background: transparent
			position: fixed
			top: 0
			width: 100%
			height: 100vh
			left: -100%
			overflow-y: scroll
			transition: left .5s ease
			&.active
				left: 0
		&-menu
			width: 90%
			max-width: 460px
			background: #13151c
			position: absolute
			top: 0
			left: 0
			padding: 40px 0 0
			transition: left .5s ease
			overflow-y: auto
		&-top
			display: flex
			justify-content: space-between
			align-items: flex-end
			padding: 0 40px
		&-lang
			margin-left: 15px
			font-size: 17px
			&.active
				color: $accent
		&-form
			margin: 20px 40px 0
			position: relative
		&-input
			width: 100%
			height: 50px
			line-height: 50px
			border: none
			outline: none
			border-radius: 5px
			color: #ffffff
			padding-left: 50px
			background: rgba(255, 255, 255, 0.1) url(../img/search.svg) no-repeat left 20px center
			background-size: 15px 15px
		&-title
			font-size: 54px
			font-family: $bebas-neuebold
			color: #ffffff
		&-block
			display: flex
			margin-bottom: 5px
		&-lang
			color: #ffffff
			font-family: $bebas-neueregular
		&-list
			padding: 0 40px 40px 40px
			position: absolute
			left: -115%
			top: 0
			width: 100%
			transition: left .5s ease
			height: 0
			overflow: hidden
			min-height: 750px
			&.active
				left: 0
				height: auto
			&_mouse
				background: url(../img/mouse-mob.jpg) no-repeat bottom center

		&-item
			color: $accent
			font-family: $bebas-neueregular
			padding: 30px 0
			border-bottom: 1px solid rgba(117, 118, 122, 0.1)
			&:last-child
				border-bottom: none
			&_nb
				border: none
				padding: 15px 0
		&-link
			color: $accent
			text-decoration: none
		&-links
			color: #ffffff
			text-decoration: none
		&-item
			&_first
				color: $white
				border-top: 1px solid rgba(117, 118, 122, 0.1)
				border-bottom: 1px solid rgba(117, 118, 122, 0.1)
				margin-top: 30px
				position: relative
				padding: 30px 0 30px 25px
				&:before
					content: ''
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					background: url(../img/arrow-more.svg) no-repeat right center
					transform: rotate(180deg)
					background-size: 5px 7px
			&_more
				background: url(../img/arrow-more.svg) no-repeat right center
				background-size: 5px 7px
		&-link
			&_last
				color: $white
	&-right
		width: 85px
		border-left: 1px solid rgba(6, 189, 214, 0.1)
		flex-shrink: 0
		background: url(../img/cart.svg) no-repeat center
		background-size: 15px 18px
	&-center
		width: 100%
		display: flex
		align-items: center
		justify-content: center
	&-logo
		margin: 0 auto
		width: 70px
.categories .slick-dots
	display: none

///Catalog
.catalog
	background: #0f1117
	//background: #9cb1ef
	&-top
		padding: 40px 60px
		display: flex
		&-item
			font-size: 14px
			color: rgba(255, 255, 255, 0.2)
			padding-left: 30px
			position: relative
			&:first-child
				padding-left: 0
				&:before
					display: none
			&:before
				content: '.'
				position: absolute
				font-size: 20px
				left: 15px
				top: -8px
				color: #57595d
		&-link
			color: $white
			text-decoration: none
			transition: all .5s ease
			&:hover
				color: #ffffff
	&-title
		font-size: 68px
		font-family: $bebas-neuebold
		color: #ffffff
		&-flex
			display: flex
			padding: 0 60px
			justify-content: space-between
			align-items: center
	&-btn
		width: 190px
		height: 50px
		border-radius: 25px
		padding-left: 20px
		cursor: pointer
		border: none
		outline: none
		font-size: 16px
		color: #ffffff
		font-family: $bebas-neuebold
		background: #7e14d6 url(../img/filter.svg) no-repeat left 25px center
		background-size: 16px 14px
		transition: all .5s ease
		&:hover
			background-color: #aa1ed4
		&.active
			background: rgba(255, 255, 255, 0.1) url(../img/close.svg) no-repeat left 25px center
			background-size: 12px 12px
			&:hover
				background-color: rgba(255, 255, 255, 0.2)
		&_mobile
			display: none
	&-flex
		display: flex
		justify-content: flex-start
		padding: 0 10px
		flex-wrap: wrap
		margin-top: 25px
		width: 100%
		&.active
			.catalog-item
				width: calc(33.3% - 20px)
	&-item
		width: calc(25% - 20px)
		margin: 0 10px
		background: #13151c
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		font-family: $bebas-neueregular
		margin-top: 20px
		transition: all .5s ease
		position: relative
		&-img
			max-width: 300px
			width: 100%
			height: auto
		&-name
			color: #ffffff
			font-size: 24px
			font-family: $bebas-neuebold
			margin-top: 20px
	&-stick
		color: #ffffff
		padding: 10px 20px
		min-width: 100px
		text-align: center
		&_green
			background: #8b9f03
		&_red
			background: #e4162f
		&_pink
			background: #cb2869
	&-filter
		height: auto
		margin-top: 45px
		flex-shrink: 0
		width: 0
		transition: width .5s ease
		position: relative

	&-main
		display: flex
		overflow: hidden
		position: relative
		justify-content: space-between
		align-items: flex-start
.filter
	background: #13151c
	margin-right: 20px
	padding: 40px
	position: absolute
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		font-family: $bebas-neuebold
		&-title
			color: rgba(255, 255, 255, 0.3)
			font-size: 20px
		&-btn
			color: #ffffff
			font-family: $bebas-neueregular
			padding: 10px 20px
			background: transparent url(../img/close2.svg) no-repeat left center
			background-size: 8px 8px
			cursor: pointer
			font-size: 14px
			border: none
			outline: none
	&-flex
		display: flex
		justify-content: space-between
		align-items: center
		margin: 30px 0 40px
		&_start
			justify-content: flex-start
			flex-wrap: wrap
		&_column
			flex-direction: column
		&_wrap
			flex-wrap: wrap
			justify-content: flex-start
	&-choice
		background: #1346bf
		height: 38px
		border-radius: 19px
		line-height: 38px
		text-align: center
		padding: 0 40px 0 20px
		white-space: nowrap
		margin: 0 10px 10px 0
		font-size: 14px
		color: #ffffff
		cursor: pointer
		position: relative
		transition: background-color .5s ease
		&:hover
			background: #112c6b
		&-close
			width: 10px
			height: 10px
			background: url(../img/close3.svg) no-repeat center
			background-size: 8px 8px
			position: absolute
			right: 20px
			top: 50%
			transform: translateY(-50%)
	&-row
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		font-size: 16px
		position: relative
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		&-left
			display: flex
			justify-content: flex-start
			align-items: center
		&-myinput
			width: 20px
			height: 20px
			background: #27292f
			position: absolute
			z-index: 2
			left: 0
			top: 1px
			&:after
				content: ''
				position: absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				opacity: 0
				background: url(../img/check.svg) no-repeat center
				background-size: 10px 10px
		&-check
			width: 15px
			height: 15px
			opacity: 0
			position: relative
			z-index: 3
		&-text
			color: #ffffff
			margin-left: 20px
			font-size: 16px
			&.active
				color: #1346bf
		&-number
			color: #ffffff
	&-color
		width: 32px
		height: 32px
		border-radius: 50%
		cursor: pointer
		overflow: hidden
		position: relative
		margin: 0 5px 5px 0
		&.active
			border: 2px solid #1346bf
			background-image: url(../img/check.svg)
			background-repeat: no-repeat
			background-position: center
			background-size: 10px 8px
		&_black
			background: #060608
		&_white
			background: #ffffff
			&.active
				background-image: url(../img/check2.svg)
		&_green
			background: #575757
		&_pink
			background: #f04056
		&_blue
			background: #208dc6
		&_yellow
			background: #e3bc22
		&_red
			background: #d21e1f
		&_red-black
			background: #060608
		&_yellow-black
			background: #060608
		&-line
			width: 100%
			height: 100%
			transform: rotate(45deg)
			display: block
			position: absolute
			top: 11px
			left: 11px
			&_red
				background: #d21e1f
			&_yellow
				background: #e3bc22
	&-close
		width: 100%
		color: #ffffff
		background: #1f2129 url(../img/close.svg) no-repeat right 50px center
		height: 95px
		position: absolute
		left: 0
		top: 0
		line-height: 95px
		padding: 0 40px
		background-size: 10px 10px
		font-family: $bebas-neueregular
		font-size: 22px
		outline: none
		border: none
		text-align: left
		display: none
.filter-row-check:checked ~ .filter-row-myinput
	background: #1346bf
.filter-row-check:checked ~ .filter-row-myinput:after
	opacity: 1
.item
	&-flex
		display: flex
		justify-content: space-between
		align-items: flex-start
		padding: 0 60px
	&-info
		width: 360px
		flex-shrink: 0
		&-name
			color: #ffffff
			font-size: 68px
			font-family: $bebas-neuebold
			line-height: 60px
		&-text
			display: flex
			justify-content: flex-start
			align-items: center
			font-size: 14px
			margin-top: 10px
		&-key
			color: #6e6e6e
		&-value
			color: #bbbbbb
			margin-left: 5px
	&-color
		margin-top: 40px
		&-text
			font-size: 14px
			font-family: $bebas-neueregular
			color: $white
		&-flex
			display: flex
			justify-content: flex-start
			flex-wrap: wrap
			margin-top: 15px
	&-cart
		width: 290px
		height: 50px
		position: relative
		background: #27292f
		border-radius: 25px
		display: flex
		align-items: center
		margin-top: 35px
	&-btn
		background: #11bae4 url(../img/cart-check.svg) no-repeat left 22px center
		background-size: 15px 18px
		height: 50px
		border-radius: 25px
		width: 50%
		border: none
		outline: none
		color: #ffffff
		font-family: $bebas-neuebold
		font-size: 16px
		padding-left: 20px
		cursor: pointer
		transition: background-color .5s ease
		&:hover
			background-color: #1197e4
	&-val
		color: #ffffff
		width: 50%
		display: flex
		justify-content: space-between
		padding: 0 15px
		&-center
			display: flex
			align-items: center
			margin-left: -15px
			font-size: 12px
	&-minus, &-plus
		display: block
		width: 10px
		text-align: center
		cursor: pointer
		color: $white
		transition: color .5s ease
		font-size: 20px
		user-select: none
		&:hover
			color: #ffffff
	&-number
		background: none
		border: none
		outline: none
		width: 30px
		color: #ffffff
		text-align: right
		margin-right: 3px
	&-par
		width: 360px
		flex-shrink: 0
		&-title
			color: #ffffff
			font-size: 14px
			font-family: $bebas-neueregular
			margin-bottom: 20px
		&-row
			display: flex
			justify-content: space-between
			align-items: center
			font-size: 14px
			padding: 5px 0
		&-name
			color: $white
			width: 50%
		&-value
			color: #ffffff
			width: 50%
	&-gallery
		width: calc(100% - 720px)
		position: relative
		&-stick
			color: #ffffff
			font-size: 16px
			font-family: $bebas-neueregular
			display: inline-block
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			padding: 20px 30px
			&_green
				background: #8b9f03
		&-prev
			//position: absolute
			width: 350px
			bottom: 90px
			left: 50%
			transform: translateX(-50%)

		&-item
			border-radius: 5px
			font-size: 0
			cursor: pointer
			margin: 0 5px
			overflow: hidden
			width: 65px
			height: 65px
	&-img
		&-big
			width: 100%
			max-width: 600px
			height: auto
			margin: 0 auto
		&-sm
			width: 100%
			border-radius: 5px
	&-and
		margin-top: -30px
		border-top: 1px solid rgba(255, 255, 255, 0.1)
		&-title
			font-size: 20px
			text-align: center
			font-family: $bebas-neueregular
			color: $white
			padding: 50px 0
	&-post
		padding: 60px 0 60px
		&-img
			max-width: 1230px
			width: 100%
			margin: 0 auto
			display: block
		&-row
			padding: 60px 0
			color: #ffffff
			border-top: 1px solid rgba(255, 255, 255, 0.1)
			&_top
				border-top: none
		&-container
			display: flex
			justify-content: flex-start
			align-items: flex-start
			max-width: 1250px
			padding: 0 10px
			margin: 0 auto
			&_center
				justify-content: center
				padding: 0
		&-name
			width: 370px
			flex-shrink: 0
			font-size: 24px
			font-family: $bebas-neueregular
		&-text
			font-size: 16px
			line-height: 28px
			max-width: 730px
			margin-bottom: 30px
			&:last-child
				margin-bottom: 0
		&-item
			font-size: 16px
			padding: 10px 5px 10px 45px
			position: relative
			&:before
				position: absolute
				content: ''
				width: 4px
				height: 4px
				border-radius: 50%
				background: #ffffff
				left: 0
				top: 50%
				transform: translateY(-50%)
.fancybox-thumbs
	width: auto
	height: 100px
	top: initial
	left: 50%
	transform: translateX(-50%)
	background: transparent
.fancybox-thumbs-x .fancybox-thumbs__list
	margin: 0 auto
.fancybox-show-thumbs .fancybox-inner
	right: 0
	bottom: 100px
.item-gallery-block .slick-slide img
	width: 600px
	max-width: 100%
	margin: 0 auto
.slick-slide
	outline: none
.fancybox-thumbs__list a:before
	border: none
	border-bottom: 3px solid #1343b6
.fancybox-bg
	background: #000000
.item-info-name_mobile
	display: none
.order
	background: #0f1117
	color: #ffffff
	&-container
		width: 100%
		padding: 0 125px
	&-flex
		display: flex
		justify-content: flex-start
		align-items: flex-start
		padding: 0 0 40px 60px
	&-left
		width: 710px
	&-title
		font-size: 36px
		font-family: $bebas-neuebold
		margin-bottom: 20px
	&-item
		border-top: 1px solid rgba(255, 255, 255, 0.1)
		&-top
			display: flex
			align-items: center
			justify-content: space-between
		&-choice
			color: $white
			font-size: 14px
			display: none
		&-title
			color: rgba(255, 255, 255, 0.3)
			font-family: $bebas-neueregular
			font-size: 16px
			padding: 25px 0 30px
			display: inline-block
			cursor: pointer
			transition: all .5s ease
			//&:hover
			//	color: #ffffff
		&-number
			width: 32px
			height: 32px
			border-radius: 50%
			color: #ffffff
			line-height: 32px
			text-align: center
			display: inline-block
			background: rgba(255, 255, 255, 0.1)
			margin-right: 15px
			transition: all .5s ease

		&-name
			font-size: 20px
			font-family: $bebas-neueregular
		&-description
			font-size: 14px
			color: $white
			margin: 5px 0 20px
		&-label
			display: inline-block
			position: relative
			padding: 8px 0 8px 40px
		&-radio
			width: 18px
			height: 18px
			opacity: 0
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
		&-myradio
			width: 18px
			height: 18px
			border-radius: 50%
			border: 4px solid transparent
			background: #27292f
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
		&-check
			font-size: 16px
			display: inline-block
		&-text
			font-size: 14px
			line-height: 20px
			color: $white
			margin-top: 20px
		&-flex
			display: flex
			justify-content: space-between
		&-left
			width: 310px
		&-right
			width: 350px
		&-input, &-select
			width: 100%
			height: 50px
			color: #ffffff
			background: rgba(255, 255, 255, 0.05)
			padding: 0 20px
			font-size: 16px
			border: none
			outline: none
			margin-bottom: 10px
			&:last-child
				border-bottom: 0
		&-select
			margin-bottom: 0
			padding-right: 0
		&-sel
			margin-bottom: 10px
			position: relative
			&:before
				position: absolute
				content: ''
				width: 0
				height: 0
				border: 5px solid transparent
				border-top: 5px solid #3b3f4d
				top: 50%
				right: 20px
				cursor: pointer
		&-option
			background: #1b1d23
			padding: 10px
		&-link
			color: #11bae4
			font-size: 14px
			margin-top: 5px
			display: inline-block
		&-row
			width: 360px
			&_top
				margin-top: 35px
			&_marg
				margin-bottom: 35px
		&-attention
			color: #f16d2b
			display: inline-block
			margin-left: 10px
			font-size: 14px
		&-text-right
			text-align: right
	&-btn
		background: rgba(255, 255, 255, 0.1)
		color: #11bae4
		font-family: $bebas-neuebold
		height: 50px
		line-height: 50px
		border-radius: 25px
		border: none
		outline: none
		font-size: 16px
		padding: 0 20px
		cursor: pointer
		transition: all .5s ease
		margin-top: 40px
		&:hover
			background: rgba(255, 255, 255, 0.2)
	&-right
		width: 480px
		padding: 40px
		background: #1c1e25
		margin-left: 40px
		&-title
			font-size: 22px
			padding-left: 28px
			background: url(../img/cart.svg) no-repeat left center
			background-size: 19px 19px
			font-family: $bebas-neuebold
		&-list
			margin: 40px 0
			.mobile-right-item
				background-color: #23252d
		&-row
			display: flex
			align-items: flex-start
			justify-content: space-between
			margin-bottom: 15px
			&_big
				align-items: center
				border-top: 1px solid rgba(255, 255, 255, 0.1)
				margin-top: 20px
				padding: 30px 0
		&-name
			font-size: 16px
			color: rgba(255, 255, 255, 0.4)
			font-family: $bebas-neueregular
		&-desc
			max-width: 120px
			font-size: 14px
			line-height: 14px
			text-align: right
		&-btn
			height: 50px
			line-height: 50px
			background: #7e14d6
			color: #ffffff
			border-radius: 25px
			border: none
			outline: none
			font-size: 16px
			font-family: $bebas-neuebold
			padding: 0 30px
			cursor: pointer
			transition: background-color .5s ease
			&:hover
				background: #aa1ed4
			&_reg
				margin-top: 30px
		&-valid
			position: relative
			display: inline-block
			cursor: not-allowed
		&-over
			position: absolute
			border-radius: 25px
			background: rgba(0, 0, 0, 0.7)
			left: 0
			top: 0
			right: 0
			bottom: 0
	&-grac
		max-width: 720px
		padding: 60px 40px
		margin: 0 auto
		text-align: center
		display: none
		&-title
			font-size: 36px
			font-family: $bebas-neuebold
			padding: 70px 0 30px
			background: url(../img/cart-check2.svg) no-repeat top center
			background-size: 40px 48px
			border-bottom: 1px solid rgba(255, 255, 255, 0.1)
		&-text
			font-size: 16px
			line-height: 28px
			margin: 30px 0
.order-item-radio:checked ~ .order-item-myradio
	border: 4px solid #1346bf
.order-slide-block
	display: none
	&.active
		display: block
		margin-bottom: 35px
.order-item-title.active
	&:hover
		color: #ffffff
	.order-item-number
		background: #1346bf

.mobile-right-item
	&:hover
		background-color: #30323c

@keyframes animate-circle
	from
		transform: scale(0)
		opacity: 1
	to
		transform: scale(1)
		opacity: 0

.loader
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background: #13151c
	display: none
.loader-container
	position: fixed
	top: 50%
	left: 50%
	height: 100px
	width: 100px
	transform: translateX(-50%) translateY(-50%)

.loader-circle
	--duration: 2s
	position: absolute
	height: inherit
	width: inherit
	background: #11bae4
	border-radius: 50%
	animation: animate-circle 2s cubic-bezier(.9,.24,.62,.79) infinite

.loader-circle:nth-of-type(1)
	animation-delay: 0

.loader-circle:nth-of-type(2)
	animation-delay: -0.67s

.loader-circle:nth-of-type(3)
	animation-delay: -0.33s
.left-reg
	width: 550px
	height: 100vh
	background: #1c1e25
	position: fixed
	z-index: 10
	left: 0
	top: 0
	transition: left .5s ease
	display: none
	&-close
		width: 14px
		height: 14px
		display: block
		position: absolute
		top: 40px
		right: 40px
		cursor: pointer
		background: url(../img/close.svg) no-repeat center
		background-size: 14px 14px
	&-list
		width: 100%
		height: 100%
		max-width: 350px
		position: relative
		margin: 0 auto
	&-item
		position: absolute
		top: 50%
		transform: translate(-50%, -50%)
		left: -100%
		width: 100%
		max-width: 350px
		transition: all .5s ease
		&.active
			left: 50%
	&-img
		width: 80px
	&-title
		color: #ffffff
		font-size: 36px
		font-family: $bebas-neuebold
		letter-spacing: 4px
		margin-top: 30px
	&-subtitle
		font-size: 14px
		color: $white
		line-height: 20px
		margin: 10px 0 40px
	&-go
		color: #11bae4
		font-weight: bold
		text-decoration: underline
		cursor: pointer
		font-size: 14px
		&_top
			margin-top: 10px
.right-reg
	width: calc(100% - 550px)
	height: 100vh
	background: url(../img/reg.jpg) no-repeat center
	background-size: cover
	position: fixed
	z-index: 10
	top: 0
	right: 0
	transition: right .5s ease
	display: none

@import "media" // Всегда в конце
